@model List<Person>
@{
    ViewData["Title"] = "AddPeopleToTheCity";
}

<h1>Add People To The City</h1>

@if (ViewBag.Message != null)
{
    <h4>@ViewBag.Message</h4>
    <h4>@ViewBag.Message1</h4>
}
else
{
    <form asp-action="AddPeopleToTheCity" method="post">
        <div class="form-group">
            <label>City</label>
            <select name="cityid" class="form-control" asp-items="@ViewBag.City"></select>
        </div>
        <div class="form-group">
            <label>Person</label>
            <select name="id" class="form-control" asp-items="@ViewBag.People"></select>
        </div>

        <input type="submit" value="Add To City" class="btn btn-primary" />

    </form>
}